#dukanlar .box {
    flex-basis: 24%;
}
#dukanlar .box img {
    width: 100%;
} 
#footer {
    align-items: start;
    padding: 10px 0px;
}
#footer .box {
    flex-basis: 19%;
    height: 200px;  
    padding-left: 20px;
}
#footer h4 {
    font-size: 20px;
    color: #000000;
}
#footer a {
    font-size: 16px;
    color: #000000;
}
#footer .box a {
text-decoration: none;
color: #000000;
}
#footer .box a:hover {
    color: blue;
}
#footer .box button {
    font-size: 16px;
    background-color: #1CBC5926;
    padding: 10px 17px;
    margin-top: 10px;
    border-radius: 8px;
}
#footer .box button a {
    color: #15B739;
} 
