#hyzmatdaslyk .box ul {
    display: flex;
    margin-top: 30px;
}
#hyzmatdaslyk .box ul li {
list-style: none;
}
#hyzmatdaslyk .box ul li a {
    text-decoration: none;
    padding: 20px;
    color: #000000;
    font-size: 16px;
}
#hyzmatdaslyk .box ul li a:hover {
    color: #15B739;
}
#hyzmatdaslyk .box1 {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px 0px;
    border-radius: 8px;
    line-height: 30px;
}
#hyzmatdaslyk .box1 h4 {
    font-size: 36px;
    color: #212121;
    padding: 15px 0px;
}
#hyzmatdaslyk .box1 h5 {
    font-size: 16px;
}
#hyzmatdaslyk .box1  span {
    color: #000000;
    font-size: 16px;
}
#hyzmatdaslyk .box1 p {
    font-size: 16px;
    color: #4a5759;
}
#hyzmatdaslyk .box1 li {
    color: #4a5759;
    font-size: 16px;
}

#footer {
    align-items: start;
    padding: 20px 0px;
}
#footer .box {
    flex-basis: 19%;
    height: 200px;  
    padding-left: 20px;
}
#footer h4 {
    font-size: 20px;
    color: #000000;
}
#footer a {
    font-size: 16px;
    color: #000000;
}
#footer .box a {
text-decoration: none;
color: #000000;
}
#footer .box a:hover {
    color: blue;
}
#footer .box button {
    font-size: 16px;
    background-color: #1CBC5926;
    padding: 10px 17px;
    margin-top: 10px;
    border-radius: 8px;
}
#footer .box button a {
    color: #15B739;
} 