
#market .container {
    background-color: gainsboro;
    padding: 40px 20px;
    border-radius: 8px;
}
#market .box {
    flex-basis: 32%;
   
}

#market .box div {
    font-size: 17px;
    
}
#market .box a {
    text-decoration: none;
    font-size: 16px;
    padding: 25px; 
    border-bottom: 2px solid #62636B;
    color:#62636B ;
}
#market .box a:hover {
    color: #15B739;
}
#market .box button {
    padding: 6px 10px 7px 16px;
    background-color: #1CBC5926;
    color: #15B739;
    border-radius: 8px;
}
#baner {
    margin-top: 30px;
}
#baner .box {
    flex-basis: 100%;
}
#baner .box img {
    width: 100%;
    border-radius: 5px;
}
#baner2 .box {
    flex-basis: 49%;
}
#baner2 .box img {
    width: 100%;
}
#baner2 button {
    font-size: 16px;
    padding: 6px 10px 7px 16px;
    border: 1px solid #15B739;
    border-radius: 6px;
    float: right;
}
#baner2 button a{
    text-decoration: none;
    color: #15B739;
  
    
}
#saglyk-we-gozellik .box {
    flex-basis: 19%;
}
#saglyk-we-gozellik .box img {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
}
#saglyk-we-gozellik .box .box1 {
    padding-left: 20px;
}
#saglyk-we-gozellik  .box .box1 button {
    padding: 10px 25px;
    font-size: 14px;
    margin: 10px 0px;
    background-color: #15B739;
    border-radius: 8px;
}
#saglyk-we-gozellik  .box .box1 {
    background-color: #ffffff;
}
#saglyk-we-gozellik  .box .box1 button a{
    text-decoration: none;
    color: #ffffff;
    
}
#saglyk-we-gozellik .box .box1 p {
    font-size: 14px;
    color: #212528;
}
#saglyk-we-gozellik .box .box1 .div {
    height:35px;
    width: 40px;
    background-color:gainsboro;
    margin-right: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}
#parfyumeriya h2 {
    padding: 15px 0px;
}
#parfyumeriya .box {
    flex-basis: 19%;
}
#parfyumeriya .box img {
    width: 100%;
    border-radius: 5px;
}
#parfyumeriya .box .box1 {
    padding-left: 20px;
}
#parfyumeriya  .box .box1 button {
    padding: 10px 25px;
    font-size: 14px;
    margin: 10px 0px;
    background-color: #15B739;
    border-radius: 8px;
}
#parfyumeriya  .box .box1 {
    background-color: #ffffff;
}
#parfyumeriya  .box .box1 button a{
    text-decoration: none;
    color: #ffffff;
    
}
#parfyumeriya .box .box1 p {
    font-size: 14px;
    color: #212528;
}
#parfyumeriya .box .box1 .div {
    height:35px;
    width: 40px;
    background-color:gainsboro;
    margin-right: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}
#egin-esikler h2 {
    padding: 15px 0px;
}
#egin-esikler .box {
    flex-basis: 19%;
}
#egin-esikler .box img {
    width: 100%;
    border-radius: 5px;
}
#egin-esikler .box .box1 {
    padding-left: 20px;
}
#egin-esikler  .box .box1 button {
    padding: 10px 25px;
    font-size: 14px;
    margin: 10px 0px;
    background-color: #15B739;
    border-radius: 8px;
}
#egin-esikler .box .box1 {
    background-color: #ffffff;
}
#egin-esikler  .box .box1 button a{
    text-decoration: none;
    color: #ffffff;
    
}
#egin-esikler .box .box1 p {
    font-size: 14px;
    color: #212528;
}
#egin-esikler .box .box1 .div {
    height:35px;
    width: 40px;
    background-color:gainsboro;
    margin-right: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}
#sport-we-dync-alys .box {
    flex-basis: 19%;
}
#sport-we-dync-alys .box img {
    width: 100%;
    border-radius: 8px;
}
#sport-we-dync-alys.box .box1 {
    padding-left: 20px;
}
#sport-we-dync-alys .box .box1 button {
    padding: 10px 25px;
    font-size: 14px;
    margin: 10px 0px;
    background-color: #15B739;
    border-radius: 8px;
}
#sport-we-dync-alys .box .box1 {
    background-color: #ffffff;
}
#sport-we-dync-alys .box .box1 button a{
    text-decoration: none;
    color: #ffffff;
    
}
#sport-we-dync-alys .box .box1 p {
    font-size: 14px;
    color: #212528;
}
#sport-we-dync-alys .box .box1 .div {
    height:35px;
    width: 40px;
    background-color:gainsboro;
    margin-right: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}

#footer {
    align-items: start;
    margin-top: 50px 0px;
}
#footer .box {
    flex-basis: 19%;
    height: 200px;  
    padding-left: 20px;
}
#footer h4 {
    font-size: 20px;
    color: #000000;
}
#footer a {
    font-size: 16px;
    color: #000000;
}
#footer .box a {
text-decoration: none;
color: #000000;
}
#footer .box a:hover {
    color: blue;
}
#footer .box button {
    font-size: 16px;
    background-color: #1CBC5926;
    padding: 10px 17px;
    margin-top: 10px;
    border-radius: 8px;
}
#footer .box button a {
    color: #15B739;
}

